[2020-09-21 14:32] keithchong opened #1 "Fix incorrect error message"
**Describe the bug**
The error message that is presented to the user:
`The secret length should 16 or more`
is incorrect, and needs to be fixed.

**To Reproduce**
See Gagan's end of sprint review demo

<img width="696" alt="Screen Shot 2020-09-16 at 9 51 03 AM" src="https://user-images.githubusercontent.com/7726022/93779620-343a0b80-fbf5-11ea-9980-2b8289aa55c5.png">

**Expected behavior**
The mess

[2020-09-21 14:54] jc-berger commented on #1
The doc team approves Keith's revision and thinks the sentence ought to be change to,
`The length of the secret must be at least 16 characters`

[2020-09-21 17:46] #1 closed

[2020-09-23 23:32] keithchong opened #16 "Fix error message"
**Describe the bug**
There is a spelling error in repository in the error message.  See webhook.go:

Unable to create webhook: failed to find Git repostory URL in manifest

**To Reproduce**
No need to reproduce, check line 86 of webhook.go

I saw this message when trying to create the webhook:

 ✗  Unable to create webhook: failed to find Git repostory URL in manifest

**Expected behavior**
Fix th

[2020-09-24 07:07] chetan-rns commented on #16
Thanks @keithchong !

[2020-09-24 08:02] bigkevmcd opened #18 "Highlight that it's not expected to work on Kubernetes (just now)."
**Describe the bug**
Currently, this is dependent on the OpenShift Route model, which is not available in other distributions of Kubernetes.

**To Reproduce**
Generate and deploy, and attempt to create a webhook.

**Expected behavior**

It should create a webhook with a URL pointing back to the user's Kubernetes ingress.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-09-24 10:35] #16 closed

[2020-09-24 12:50] amitkrout opened #19 "master build version is lesser than the latest released version"
**Describe the bug**
See $SUBJECT

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
master build version should not less than latest release version. For example here the master version would be something like  v0.0.4-0-<last_commit_sha>

**Screenshots**
NA

**Additional context**
NA

[2020-09-24 13:43] bigkevmcd commented on #19
By the looks of things, you're using an out of date checkout?

[code]

[2020-09-24 14:22] tetchel opened #21 "Minor documentation problems"
1. duplication in code block in https://github.com/redhat-developer/gitops-cli/blob/master/docs/FAQ/GitopsFAQ.md#i-have-a-non-globally-trusted-certificate-in-front-of-my-private-githubgitlab-installation-how-do-i-get-it-to-work

2. dead links in https://github.com/redhat-developer/gitops-cli/blob/master/docs/journey/day1/prerequisites/pipelines_operator.md
  First one should point to https://githu

[2020-09-24 14:27] amitkrout opened #22 "Unit test fails on master"
**Describe the bug**
Unit test fails on master

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Unti test should pass

**Screenshots**
NA

**Additional context**
NA

[2020-09-24 14:30] keithchong commented on #16
Hi @chetan-rns , no problem.

[2020-09-24 14:57] bigkevmcd commented on #21
@tetchel can you explain #1 a bit more?

What do you think is duplicated?

[2020-09-24 15:01] bigkevmcd commented on #22
@amitkrout Can you please paste the revision you're testing against?

[2020-09-24 15:34] tetchel commented on #21
It appeared to me that the pipelineRef block was pasted one extra time, but I could be mistaken.

![image](https://user-images.githubusercontent.com/8888438/94166901-e245ef80-fe59-11ea-8908-6527d49e51e8.png)

[2020-09-24 16:23] #21 closed

[2020-09-25 07:46] amitkrout commented on #22
@bigkevmcd
[code]
However i have verified it on go version 1.14.* and make test went fine. IMO we should document that ```kam``` bits are build and verified against go version 1.14.*

[2020-09-25 08:18] bigkevmcd commented on #22
I've added a note, to be clear, `go.mod` indicates the minimum required version of Go, so we'll need to be careful to track this in the README.

[2020-09-25 08:19] #22 closed

[2020-09-25 14:41] keithchong opened #29 "[Doc] Creating webhook step is misleading"
**Describe the bug**

This is a simple documentation change.

In the steps for Day 1 Operation, there is a step to create a web hook:

https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#your-first-ci-run

$ kam webhook create \
    --access-token <github user access token> \
    --env-name tst-dev \
    --service-name taxi

After going through the previous steps, running this co

[2020-09-25 15:58] wtam2018 opened #30 "[Doc]: CLI dcoument should introduce interactive mode."
### Is your task related to a problem? Please describe.

Without mentioning in the document, Users won't know about running CLI in interactive mode.

### Describe the solution you'd like

Document how to run commands interactively.

### Describe alternatives you've considered

N/A
### Additional context

N/A

[2020-09-25 16:01] wtam2018 opened #31 "We should add a note about kam only supports OpenShift"
### Is your task related to a problem? Please describe.

We should add a note about kam only supports OpenShift.  Users should be informed that kam currently only works in OCP.

### Describe the solution you'd like

We should add a note in the toplevel README.md.

### Describe alternatives you've considered

N/A
### Additional context

N/A

[2020-09-25 17:19] keithchong commented on #29
Closing.  Kevin fixed this.

[2020-09-25 17:19] #29 closed

[2020-09-25 18:08] keithchong opened #32 "[Doc] Describe what the <prefix> is for and how it is set"
**Describe the bug**
This is a documentation bug.

There are references to `<prefix>` but it isn't being used or referenced consistently throughout the docs.

1.  It appears to start from here in the docs:

https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#configuring-pipelines

Specifically,

    config/<prefix>-cicd/base/07-templates/app-ci-build-from-push-template.yaml
    c

[2020-09-28 07:48] chetan-rns commented on #30
@bigkevmcd @wtam2018 Should we just add a line saying it is supported? Or use https://asciinema.org/ and record a session with an interactive prompt. `odo` docs make use of asciinema https://github.com/openshift/odo#deploying-your-first-application

[2020-09-28 08:05] bigkevmcd commented on #30
@chetan-rns asciicinema feels like a nice option.

We could also just add a note explaining how it works, with a completed run copied and pasted from the terminal (and perhaps edited for illustrative purposes).

[2020-09-28 10:27] bigkevmcd commented on #31
This feels like a duplicate of https://github.com/redhat-developer/kam/issues/18

[2020-09-28 10:27] #31 closed

[2020-09-28 11:46] amitkrout opened #35 "Sealed Secrets Operator installation and configuration is incomplete"
**Describe the bug**
A clear and concise description of what the bug is.
As per instructed in - https://github.com/redhat-developer/kam/blob/master/docs/journey/day1/prerequisites/sealed_secrets.md it only says the installation of the operator, however to run ```kam bootstrap ...``` Sealed Secrets instance creation is needed as a preq check.

**To Reproduce**
Steps to reproduce the behavior:
Follo

[2020-09-28 11:48] amitkrout commented on #35
/kind bug

[2020-09-28 12:33] #32 closed

[2020-09-28 14:08] bigkevmcd commented on #35
@amitkrout How can we improve the current documentation? It explains that you need to create a **SealedSecretsController**

What would you like to see us add to that to make it simpler to understand?

[2020-09-28 14:33] amitkrout commented on #19
[code]
Looks good.

My origin repo was somehow referring to the old gitops-cli deprecated repo. I cleaned up then version looks good now 👍

/close

[2020-09-28 14:33] #19 closed

[2020-09-28 14:41] amitkrout commented on #35
@bigkevmcd It would be more specific if we add instance instead of installation. In the dash board i can see create an instance and it will pretty easy to understand as it matches the create instance link in the display.

For example:

```Then create a "SealedSecretController" installation in the "cicd" namespace``` -> ```Then create a "SealedSecretController" instance in the "cicd" namespace```

[2020-09-28 14:49] amitkrout commented on #35
@bigkevmcd You are too fast like 🚀 . I was about to send the pr haha...

[2020-09-28 14:57] #35 closed

[2020-09-28 18:13] #30 closed

[2020-09-29 10:40] amitkrout opened #38 "Upload kam bits to prow artifacts directory"
**Is your feature request related to a problem? Please describe.**
Uploading all platform kam bits to prow artifacts directory is to keep the binary that comprises the pr changes and can be shared publicly to test a particular fix.

**Describe the solution you'd like**
All platform bits should be available in prow artifacts directory for each pr

**Describe alternatives you've considered**
A clear

[2020-09-29 14:25] #38 closed

[2020-10-01 08:20] amitkrout commented on #18
/kind bug

[2020-10-13 16:00] gnunn1 opened #62 "Support exporting resources from kam"
**Is your feature request related to a problem? Please describe.**
kubectl and oc have deprecated and removed the --export option. In OpenShift it's common to use tools like `oc new-app` or odo to bootstrap an application. However when you want to GitOps the application you need to export those resources and remove all of the cruft (managedFields, status, etc) from the result.

It would be nice if

[2020-10-19 12:21] amitkrout commented on #62
/assign

[2020-10-23 09:38] bigkevmcd commented on #62
We could consider how https://github.com/itaysk/kubectl-neat works (which is a plugin for kubectl to do this).

[2020-10-28 08:06] amitkrout opened #73 "make test fails on macOS"
**Describe the bug**
A clear and concise description of what the bug is.
make test fails on macOS. See the details failure log in steps to reproduce section
**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.
make test should not report any error on macOS
**Screenshots**
If applicable, add screenshots to hel

[2020-10-28 08:06] amitkrout commented on #73
/kind bug

[2020-10-28 08:14] amitkrout opened #74 "Include windows and mac host to run kam test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Unit test throws error on my mac host. We need to integrate mac and windows in our CI to validate kam binary on these supported platform.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Each

[2020-10-28 08:21] amitkrout commented on #74
Run kam unit test in CI

- [ ] Windows
- [ ] macOS

[2020-10-28 14:07] bigkevmcd commented on #74
Can you attach the error message to the issue?

[2020-10-29 00:40] #73 closed

[2020-10-29 13:48] keithchong opened #77 "Docs: References to https://github.com/<your organization>/.... should be changed"
**Describe the bug**
In the KAM Day 1 Operations, there are several references to GitHub repos where you have to fill in/replace the text.

For example: `https://github.com/<your organization>/taxi.git`

Instead of `<your organization>`, it should be the GitHub username

**To Reproduce**
Here is an example:
https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#bootstrapping-the-man

[2020-10-30 07:40] amitkrout commented on #74
https://github.com/redhat-developer/kam/issues/73

[2020-10-30 14:14] bigkevmcd commented on #77
@keithchong I'm not quite sure what you mean here?

What do you think the right username is here?

[2020-11-25 08:08] amitkrout opened #94 "Kam bootstrap reports failure in sealed secrets check"
**Describe the bug**
A clear and concise description of what the bug is.

Pasted output is self explanatory
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Spinnup a cluster 4.5 or 4.6 or 4.7.
1. Install sealed secrets operator as per the doc https://github.com/redhat-developer/kam/blob/master/docs/journey/day1/prerequisites/sealed_secrets.md
2. Install pipeline operator as per the doc

[2020-11-25 08:17] amitkrout commented on #94
/kind bug

[2020-11-25 11:34] iam-veeramalla opened #96 "Cannot run `kam bootstrap` from Users $HOME directory in Mac."
**Describe the bug**
`kam bootstrap` returns the below error when executed from Users $HOME directory

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download [kam](https://github.com/redhat-developer/kam/releases) binary to /opt folder[Can be anything else]
2. cd $HOME
3. Execute `/opt/kam bootstrap [parameters]` command from $HOME directory.

Example command:
[code]

**Expected beh

[2020-11-25 12:06] amitkrout commented on #94
@iam-veeramalla As per the pr #95 i am assuming you are not hitting the sealed secret check failure. Can you share your steps other than the doc we have for day 1 operation.

[2020-11-25 15:04] bigkevmcd commented on #96
Reading this, it looks like because it's defaulting to `.` from the home dir, it's including _everything_ in the home dir as the repository.

[2020-11-25 15:43] bigkevmcd commented on #94
@iam-veeramalla just to check, you created a `SealedSecretController` per the instructions, and it's still not finding it?

Can you also paste the output of:

[code]

[2020-11-25 16:26] iam-veeramalla commented on #96
true @bigkevmcd. I also agree with you in changing the default directory to something else from .

[2020-11-26 10:59] bigkevmcd commented on #77
@keithchong Do you have any further thoughts on this?

[2020-11-30 05:20] iam-veeramalla commented on #96
fixed as part of Restrict adding files to just the generated ones. #97

[2020-11-30 05:20] #96 closed

[2020-12-01 14:18] #77 closed

[2020-12-01 17:19] keithchong commented on #77
Hi Kevin, I missed the notification.   After our slack chat, I think we're good here.  As a user, I figured it out as to what to fill in there anyway.

[2020-12-01 20:46] sbose78 opened #102 "Crashes while trying to add a new service to an existing environment"
**Describe the bug**
`kam` crashes while trying to add a new service to an existing environment

**To Reproduce**
Steps to reproduce the behavior:
1.  Bootstrapped https://github.com/sbose78/graphtuitous using interactive mode

2. Tried adding a service to an existing env.

[code]

**Expected behavior**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additio

[2020-12-02 08:36] amitkrout opened #104 "keyring/env-var looks for exec: "dbus-launch": executable file in $PATH on centos host"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

Details log - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/redhat-developer_kam/87/pull-ci-redhat-developer-kam-master-v4.5-integration-e2e/1333827600312700928#1:build-log.txt%3A943

**To Reproduce**
Steps to reproduce the behavior:

Locally its bit difficult to reproduce for now. You can apply ``

[2020-12-02 08:51] amitkrout commented on #104
/kind bug

[2020-12-02 08:51] amitkrout commented on #104
ping @bigkevmcd

[2020-12-02 14:12] sbose78 commented on #102
/kind bug

[2020-12-03 07:50] amitkrout commented on #104
I tried the same docker file that prow uses and build my custom container to reproduce the issue. Surprisingly i could not reproduce the issue, i mean kam bootstrap command does not report ```dbus``` error and the command works as expected.

Steps i executed

1. Sipnned up a 4.5 cluster
2. Copy ```kubeconfig```, ```kubeadmin-password``` and the auth file generated by the step https://github.com/re

[2020-12-03 08:25] amitkrout commented on #104
I need to check with test-platform team on how they are building the container image

[2020-12-03 10:50] amitkrout opened #106 "Provide a containerize local test environment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Provide a containerize local test environment. This helps us to replicate prow CI test environment locally.

**Describe alternatives you've c

[2020-12-03 10:50] amitkrout commented on #106
/kind enhancement

[2020-12-03 11:56] amitkrout commented on #106
/area testing

[2020-12-03 17:31] bigkevmcd commented on #102
This is because you're adding it to an environment with no defined pipelines, but with an image.

What should it do? Our current default pipelines are for building the image.

Should we assume that you want the same pipeline across all environments?

It's definitely possible that you might want to execute a pipeline for a repo on push.

[2020-12-03 17:41] sbose78 commented on #102
Here's how I am thinking, if I'm adding a new service to an env, I would either
* Add a service with no code repo to build ( no "image build" pipelines needed )
* Add a service a code repo ( "image Build" pipelines would be needed )

[2020-12-04 08:04] bigkevmcd commented on #102
Just to be clear, you added it to the "stage" environment, you expected to rebuild the image in stage before going to the next stage?

[2020-12-07 04:48] sbose78 commented on #102
Correct

[2020-12-07 14:46] bigkevmcd commented on #102
What's going to trigger the pipeline?

Is this for manual processes?

Do we just duplicate the "previous" stage's pipelines if there aren't any?

[2020-12-07 15:08] sbose78 commented on #102
* If the service includes a new application source code repo, PRs to the application source code repo should trigger the pipeline.
* If the service doesn't include any new application source code repo, then we don't need any new pipelines ( other than dry run pipelines for gitops repo which already exists ).

What do you think? 🤔

[2020-12-07 15:11] bigkevmcd commented on #102
It doesn't cover the rebuild the image part?

[2020-12-07 15:15] bigkevmcd commented on #102
The problem I can see, is that we'll receive a push notification, we can trigger in multiple pipelines, which will trigger images being built in each stage, while this will sort of rebuild, it's not clear the benefit of the rebuild at this point, because it would trigger the build on the trunk branch too?

[2020-12-07 15:25] sbose78 commented on #102
yeah image from the application source code repo needs to be built 'once'.

[2020-12-07 15:29] sbose78 commented on #102
but then, we are effectively starting to talk like `applications/services` as a top-level constructs instead of environments being the top-level construct :)

[2020-12-07 15:31] bigkevmcd commented on #102
So, we rebuild it, but only once? Are we basing that on a specific branch?

i.e. in your application code, are we talking about building the "production" branch into production?

[2020-12-08 09:45] amitkrout commented on #104
I am able to reproduce it locally with kam-bot github user, but surprisingly when i am using my github user token bootstrap does not complain any error.

i am following exactly the same step as mentioned here at https://github.com/redhat-developer/kam/issues/104#issuecomment-737729323, instead of step 8 i am using the command
[code]

ping @bigkevmcd

[2020-12-08 10:36] bigkevmcd commented on #104
The repository referred to in the service repository must exist.

[2020-12-10 13:20] bigkevmcd commented on #104
I'm going to close this out, the issues were around env-vars misconfigured in the test.

[2020-12-10 13:20] #104 closed

[2020-12-10 13:21] bigkevmcd commented on #94
Now that we have our first kam bootstrap working, I'm going to close this out.

[2020-12-11 06:38] gajanan-more opened #111 "Kam bootstrap command reports: failed to create repository "gitops" in namespace"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run command
[code]
You will see error mentioned below,
[code]

**Expected behavior**
You should not receive any error.

[2020-12-11 06:38] gajanan-more commented on #111
Removing `--push-to-git=true` worked

[2020-12-11 06:39] amitkrout commented on #111
Yes, i am able to reproduce it.

[2020-12-11 06:58] amitkrout commented on #111
@bigkevmcd Is the flag ```--push-to-git=true``` initializing a private repo ?

[2020-12-11 06:59] gajanan-more commented on #111
![Screenshot from 2020-12-11 12-29-01](https://user-images.githubusercontent.com/17041173/101873207-8ebb8600-3bac-11eb-890f-59a822b96b26.png)

[2020-12-11 07:54] amitkrout commented on #111
I have executed the same command through the automation script and it went fine, pass logs a are available at - https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/redhat-developer_kam/87/pull-ci-redhat-developer-kam-master-v4.5-integration-e2e/1337011146581872640/artifacts/integration-e2e/integration-e2e-steps/container-logs/test.log

For cross verification i have

[2020-12-11 08:53] bigkevmcd commented on #111
Yes, it creates a private repository.

[2020-12-11 08:55] bigkevmcd commented on #111
@amitkrout Just to check, it fails if you use the same repository twice?

[2020-12-11 09:10] amitkrout commented on #94
/close

[2020-12-11 09:10] #94 closed

[2020-12-16 10:49] amitkrout opened #117 "OpenShift Pipelines Operator check fails for kam bootstrap command while using developer login"
**Describe the bug**
A clear and concise description of what the bug is.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1.  $ git lone https://github.com/redhat-developer/kam/
2. $ cd kam
3. $ mkdir auth
4. $ cp <cluster_kubeconfig_file_path>/kubeconfig auth/kubeconfig
5. $ cp <kubeadmin-password_file_path>/kubeadmin-password auth/kubeadmin-password
6. $ make prepare-test-cluster
7.  $ o

[2020-12-16 10:51] amitkrout commented on #117
target `make prepare-test-cluster` calls https://github.com/redhat-developer/kam/blob/master/scripts/prepare-test-cluster.sh
[code]

[2020-12-16 10:52] amitkrout commented on #117
/kind bug

[2020-12-17 07:14] amitkrout commented on #111
Yes, the repo was already present before the bootstrap command. @gajanan-more make sure that repo passed with the flag `--gitops-repo-url` should not present in your github namespace.

/close

[2020-12-17 07:14] #111 closed

[2020-12-17 08:36] amitkrout opened #118 "Host key verification script implementation is flakey in CI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Host key verification script passes here - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/redhat-developer_kam/87/pull-ci-redhat-developer-kam-master-v4.5-integration-e2e/1339168006101536768

However in the next run it f

[2020-12-17 08:51] bigkevmcd commented on #118
You could simplify the above code to something like...

[code]

[2020-12-17 08:54] bigkevmcd commented on #118
Also...

[code]

[2020-12-17 09:30] amitkrout commented on #118
Updated through via - https://github.com/redhat-developer/kam/pull/87/commits/720dfec6f31463d7257a7a7664ffcbabe65fb262

The question is still open - why it the same script was flakey ? Either that should work properly or fail.

[2020-12-17 11:26] amitkrout opened #119 "Test step implementation of Bootstrapping the Manifest"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Implement https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#bootstrapping-the-manifest in the test [feature](https://github.com/redhat-developer/kam/blob/master/test/e2e/features/basic.feature) file

**Describe the solu

[2020-12-17 11:27] amitkrout commented on #119
/area testing

[2020-12-17 11:27] amitkrout commented on #119
This will be fixed via - https://github.com/redhat-developer/kam/pull/87

[2020-12-17 11:40] amitkrout opened #120 "Bringing the bootstrapped environment up in CI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add e2e test script for https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#bringing-the-bootstrapped-environment-up in [fe

[2020-12-17 11:40] amitkrout commented on #120
/area testing

[2020-12-17 11:44] amitkrout opened #121 "E2e test for bringing the deployment infrastructure up in CI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add e2e test script for https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#bringing-the-deployment-infrastructure-up

**De

[2020-12-17 11:45] amitkrout commented on #121
/area testing

[2020-12-17 11:46] amitkrout commented on #121
Here validation step would be a challenging task

[2020-12-23 14:23] gajanan-more opened #124 "Machines with no SSH Configuration with GitHub won't be able to run Kam bootstrap command"
**Describe the bug**
With all the prerequisites are there, run the kam bootstrap command from machine with no SSH configuration, you will face following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Complete all the prerequisites
2. Run the following command
[code]
3. You will see error mentioned above

**Screenshots**

![Screenshot from 2020-12-23 17-38-07](https://user-imag

[2020-12-23 14:24] gajanan-more commented on #124
Can you please add your observations? @amitkrout @chetan-rns

[2020-12-23 14:57] amitkrout commented on #124
Same issue i am hitting here at in CI too in my pr - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/redhat-developer_kam/87/pull-ci-redhat-developer-kam-master-v4.5-integration-e2e/1339637350115840000#1:build-log.txt%3A989

Though there is workaround to skip host key verification just by applying the command ```echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/co

[2020-12-23 14:59] amitkrout commented on #124
/kind bug

[2020-12-23 14:59] amitkrout commented on #124
/kind bug

[2020-12-24 15:52] amitkrout commented on #124
/priority High

[2020-12-24 16:00] amitkrout commented on #124
@gajanan-more I created a new github account to verify it from my mac host. I do not hit the reported failure

[code]

@chetan-rns can you please provide more details on how and when ssh configuration is needed for bootstrap command.

[2020-12-27 07:20] amitkrout commented on #124
# ssh-key
ssh-keygen   ssh-keyscan
[root@81588f058dd5 kam]# ssh-keygen
Generating public/private rsa key pair.
Enter file in which to save the key (/root/.ssh/id_rsa):
Created directory '/root/.ssh'.
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved in /root/.ssh/id_rsa.
Your public key has been saved in /root/.ssh/id_rsa.pub.
The key finge

[2020-12-28 06:09] amitkrout commented on #124
/kind documentation

[2020-12-28 09:20] amitkrout opened #127 "Implement bootstrap command test scenario for flag --push-to-git=true"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like

Implement --push-to-git=true flag scenario. Check for details - https://github.com/redhat-developer/kam/issues/124#issuecomment-751435369
### Describe alternatives you've considered

NA
### Additional context

[2020-12-28 09:22] amitkrout commented on #118
It will be addressed in https://github.com/redhat-developer/kam/issues/127
/close

[2020-12-28 09:22] #118 closed

[2020-12-28 15:38] iam-veeramalla opened #128 "kam should use Github push API instead of `git push` command"
**Is your feature request related to a problem? Please describe.**
kam can make use of the github push api to push the files/folders it creates when --push-to-git=true flag is enabled. Right now, User has to add his public key to github account.
https://github.com/redhat-developer/kam/blob/104bc4958d7929c492b2d85272386b63ed6530c3/pkg/pipelines/utils.go#L85

**Describe the solution you'd like**
Use

[2020-12-29 11:53] haf-tech opened #130 "Bootstrap should create secret for git token and configure repositoryCredentials"
**Describe the bug**
In case a private Git repo is with the `kam bootstrap` command used and the flag `--git-host-access-token` is set, does the first sync of the ArgoCD Apps not work, as long no credentials and a proper ArgoCD configuration exist.

**To Reproduce**
Steps to reproduce the behavior:

1. Bootstrap
[code]
2. Git push
3. `oc apply -k config/argocd`
4. wait and check the result in Argo

[2020-12-30 14:19] amitkrout opened #132 "Evaluate kam bootstrap flags"
### Is your task related to a problem? Please describe.

Verify test scenario manually for all flags of bootstrap command .
[code]

### Describe the solution you'd like

Document those test scenario. Later we script those in e2e test.

### Describe alternatives you've considered

### Additional context

[2020-12-30 14:22] amitkrout commented on #132
/kind task

[2020-12-31 07:00] amitkrout commented on #120
This is a scenario when we don't pass flag ```--push-to-git=true``` in ```kam bootstrap ...``` command

[2020-12-31 08:22] amitkrout opened #133 "OpenShift pipeline for building code when a pull-request is opened"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like

Add e2e test script for https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#your-first-ci-run

### Describe alternatives you've considered

### Additional context

[2020-12-31 08:22] amitkrout commented on #133
/area testing

[2020-12-31 08:23] amitkrout commented on #127
/kind task

[2020-12-31 08:23] amitkrout commented on #121
/kind task

[2020-12-31 08:23] amitkrout commented on #120
/kind task

[2020-12-31 08:24] amitkrout commented on #119
/kind task

[2020-12-31 08:24] amitkrout commented on #132
/area testing

[2020-12-31 08:57] amitkrout opened #134 "Write e2e test script for changing the default CI run"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

Add e2e test script for - https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#changing-the-default-ci-run

### Additional context

[2020-12-31 08:57] amitkrout commented on #134
/area testing

[2020-12-31 09:03] amitkrout opened #135 "Create a new environment e2e test script for day2 operation"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like

Add e2e test script for - https://github.com/redhat-developer/kam/tree/master/docs/journey/day2#create-a-new-environment

### Describe alternatives you've considered

### Additional context

[2020-12-31 09:03] amitkrout commented on #135
/area testing

[2020-12-31 09:10] amitkrout opened #136 "Create an application/service in the new environment and push configuration to GitOps repository"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

Add e2e test script for - https://github.com/redhat-developer/kam/tree/master/docs/journey/day2#create-an-applicationservice-in-the-new-environment and https://github.com/redhat-developer/kam/tree/master/docs/journey/day2#commit-and-push-configuration-to-gitop

[2020-12-31 09:10] amitkrout commented on #136
/area testing

[2020-12-31 09:13] amitkrout opened #137 "Trigger CI Pipeline to run continuous integration on the new Service's source"
### Is your task related to a problem? Please describe.

### Describe the solution you'd like

Add e2e test script for - https://github.com/redhat-developer/kam/tree/master/docs/journey/day2#create-webhook

### Describe alternatives you've considered

### Additional context

[2020-12-31 09:14] amitkrout commented on #137
/area testing

[2021-01-02 18:12] amitkrout opened #138 "Onboard doc for how to write kam e2e test"
We are using godog test framework [1] for writing kam e2e test. It supports geherkin feature file and the gherkin steps are implemented through golang.

Acceptance criteria:

- Document more frequently used godog methods
- Document how to write kam gherkin steps with an example

[1] https://github.com/cucumber/godog/

Jira reference - https://issues.redhat.com/browse/GITOPS-541

[2021-01-05 08:57] #130 closed

[2021-01-11 13:03] bigkevmcd commented on #124
We can fix this, by implementing support for GitHub and GitLab to allow us to push the bootstrapped repo.

But, this won't help with the test environment, as you'll need to modify and push the source code at some point during the test process.

[2021-01-11 17:58] keithchong opened #140 "Can't add app/service to a third environment via kam"
This does not appear to be the same issue as https://github.com/redhat-developer/kam/issues/102

**Describe the bug**
After running the bootstrap command to create the two environments, `dev` and `stage`, with the taxi app already added to `dev`, I wanted to:
1) add the taxi app to a new environment called `prod`.
2) add the taxi app to the existing environment `stage`.
The goal being that in the

[2021-01-12 10:15] bigkevmcd commented on #140
I suspect we could improve that error message, but it's fairly unambiguous.

It feels in some ways like a duplicate of #107 what would you like to happen when you add the same source repo across multiple environments?

Do you want to trigger a build of the _application_ code across all environments in parallel?

[2021-01-12 14:38] keithchong commented on #140
Hi Kevin, the OS cluster has just been set up. My goal is to set up the taxi application to be in 3 environments. Is there a different set of kam command sequences that allows me to do this without error? (I couldn't figure that out, outside the description of the Day 2 operations, AFAIK). So, yes, I don't mind if the build of the application code is done in parallel initially.  Note that I had to

[2021-01-13 21:44] keithchong opened #142 "kam should trim leading and trailing spaces from input"
**Describe the bug**
kam exits with error if the user provides answers with leading spaces in their response.  Trailing spaces can pose problems as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Run kam bootstrap
2. When prompted to enter the URL for your GitOps repository, purposely add a space before your gitops URL
3. Hit enter

kam exits with an error

See output below:

[code]

*

[2021-01-15 15:43] christianh814 opened #145 "CLI Does not have bash completion"
The `kam` CLI utility doesn't have completion generator

[code]

This should be trivial as it's built into Cobra.

[code]

[2021-01-15 21:00] keithchong opened #147 "kam fails to write resources to output folder 'B' after user is prompted to not overwrite the contents of folder 'A'"
**Describe the bug**
kam prompts the user to provide the output folder of the generated resource files.  If that folder already has the generated files from a previous run (includes pipelines.yaml), then the user is prompted to overwrite or change the output path.  If the user chooses another folder (an empty folder for example), then the resources are not generated and no error is reported.

**To

[2021-01-15 21:03] keithchong commented on #147
The error handler is not returning the path

[2021-01-18 08:24] bigkevmcd commented on #128
The biggest problem with this, is that we'd need to implement more functionality from git into the kam binary (probably using go-git).

We'd need the equivalent of `git push` and the various options that uses, and probably functionality around getting to the git hosting service (proxy configuration).

[2021-01-18 08:26] bigkevmcd commented on #140
I'm going to close this, as we almost always don't want to rebuild images across different images.

That's not to say there aren't a couple of use-cases that don't involve rebuilding for production, but that isn't what this issue is about.

[2021-01-18 08:26] #140 closed

[2021-01-18 08:37] iam-veeramalla commented on #128
The motive behind raising this issue is to understand , if we can make kam more API friendly.  For example,  instead of using `git push` can we use the equivalent API from git Providers(Github, BitBucket and more).

Something like this:
[code]

However, the obvious downside is to deal with the different APIs from git providers.

[2021-01-18 08:43] bigkevmcd commented on #128
The biggest problem who', is that users would need to replace their use of git with kam for most git operations?

We'd need to implement functionality for at least the following git actions.

 * git push
 * git pull
 * git diff with an upstream branch
 * git fetch

I'm not sure there's any benefit in using the API, over using something like go-git, but authenticating with a token.

[2021-01-18 08:47] iam-veeramalla commented on #128
@bigkevmcd I was only talking about replacing `git push` , I agree that we should not replace git with kam for any other use cases.

[2021-01-18 08:59] bigkevmcd commented on #128
But if we only replace git push, what about the other use-cases?

Can you maybe explain the benefits of only replacing git push?

[2021-01-18 09:13] iam-veeramalla commented on #128
I haven't explored the code completely kevin, I will take some time on this today and comment.

[2021-01-18 09:52] bigkevmcd commented on #127
The issue here is that the /etc/passwd file and $HOME don't match, this means that if git delegates to `openssh` to establish a secure connection, openssh is using the homedir from /etc/passwd instead of $HOME and so, attempting to use `/.ssh` instead of `$HOME/.ssh`.

Push to git is not a core bit of functionality, it's a nice add-on, and we can work around it by configuring git over https and pu

[2021-01-19 16:09] #145 closed

[2021-01-19 16:44] bigkevmcd opened #149 "Stop generating an ArgoCD CR"
Currently, we generate an ArgoCD CR to configure ArgoCD to work well with Kam.

https://github.com/redhat-developer/gitops-operator/pull/29 will mean that this is redundant.

We should not generate an [ArgoCD struct](https://github.com/redhat-developer/kam/blob/master/pkg/pipelines/argocd/argocd.go#L192)

[2021-01-21 16:16] gorkem opened #150 "Missing how to build info"
ReadMe (or any other doc) is missing information on how to build and test the project. It only has some info about how to do a PR.

[2021-01-21 21:22] keithchong opened #151 "Inconsistent case in Yes/No (yes/no) type of options in bootstrap command prompts"
**Describe the bug**
Some bool type flags prompt the user with `Yes` or `No` while others use `yes` or `no`

**To Reproduce**
In ui.go

func UseKeyringRingSvc() bool {
	var optionImageRegistry string
	prompt := &survey.Select{
		Message: "Do you wish to securely store the git-host-access-token in the keyring on your local machine?",
		Help:    "The token will be stored securely in the keyring of y

[2021-01-22 02:42] gorkem opened #152 "Unable to create webhook"
**Describe the bug**
[code]
fails with the following error

[code]

When I look at the `pipelines.yaml` I can see that `environments[0].apps[0].services[0].pipelines.integration.bindings[0]` has value  `test-dev-app-simple-nodejs-weather-app-simple-nodejs-weather-app-binding` but this value is generated by bootstrap command and it should not generate an erroneous value.

[2021-01-22 15:10] bigkevmcd commented on #151
/kind bug

[2021-01-22 15:16] bigkevmcd commented on #152
/kind bug

[2021-01-25 17:37] keithchong commented on #142
My changes for this fix conflict with the changes for the smart defaults changes in https://github.com/redhat-developer/kam/pull/148

This fix should be in a separate PR because it's a different problem.

So either I create a separate PR based off master which will probably result in 148 having conflicts, or create the PR after 148 has been merged. Because this one is a smaller, less complicated f

[2021-01-26 10:31] #151 closed

[2021-01-26 14:31] #150 closed

[2021-01-26 22:22] keithchong opened #157 "kam should generate the app route with host omitted; Update dependency on openshift/api"
**Describe the bug**
The generated route yaml contains a `host=""` entry in the route spec that causes the synchronization of the service app to be not synchronized.  It should be deleted from the yaml.  This was fixed in at least the `release-4.5` branch of openshift/api.

https://github.com/openshift/api/commit/d767ddd318df078e9a0bb955a934616854545a91#diff-4dfca44f3f68bff8b6381ff3fac676c6be96da9

[2021-01-27 14:04] bigkevmcd commented on #157
It does tho'?

https://github.com/redhat-developer/kam/blob/master/pkg/pipelines/routes/routes.go#L37

I agree we should bump to the fixed version, but this involves upgrading a number of other dependencies.

[2021-01-27 15:05] keithchong commented on #157
No, it still generates `host: ""` in the spec section

[2021-01-27 15:45] bigkevmcd commented on #157
[code]

[2021-01-27 15:47] bigkevmcd commented on #157
@keithchong I suspect you want to sync from the trunk branch?

[2021-01-27 17:11] keithchong commented on #157
Hi @bigkevmcd, when I was testing this, I pulled in the latest and everything appears to be there including those specific changes. Not sure why I'm still seeing it.  Only when I updated the openshift/api dependency did it work for me.  I'll revisit this later today.

[2021-01-28 15:31] keithchong commented on #157
So here is the generated file with the host field. I switched to my master branch which had your changes from https://github.com/redhat-developer/kam/pull/156 (otherwise this file wouldn't have been generated).
[code]

The file has this timestamp:

-rw-r--r--  1 kchong  staff  308 **26 Jan 12:32** environments/dev/apps/app-taxi/services/taxi/base/config/300-route.yaml

So yesterday, I tested it ou

[2021-01-29 13:30] #147 closed

[2021-01-29 15:42] keithchong commented on #147
Fixed as part of https://github.com/redhat-developer/kam/pull/158

Closing.

[2021-02-01 15:18] #157 closed

[2021-02-05 06:37] amitkrout opened #162 "Update CI setup scripts"
CI setup script update for - https://github.com/redhat-developer/kam/pull/161

https://github.com/redhat-developer/kam/pull/161#issuecomment-773548726

[2021-02-09 09:24] amitkrout opened #164 "Add documentation for CI secret rotation"
Over a quarters that we have added secrets like github token, username, password etc in CI. There might be a chance that these secrets have leaked. To avoid such threat we should keep rotating our secrete in certain duration gap.

I will create the steps and document in ci-reference.md file

[2021-02-09 13:30] #142 closed

[2021-02-11 06:51] EsmaelTa opened #166 "Unable to get gitlab repo name from private gitlab repo when running kam bootstrap"
We have a private gitlab repo in our company in the form of https://git.company-domain/group/subgroup/subgroup/repo.git

When I ran the kam bootstrap command I get the error around repo name. Based on the line below I belive this is due to the path in GitLab. Is there any plans for this to get fixed?

https://github.com/redhat-developer/kam/blob/e44c305488d6528684999206d1704ab4d80216a2/pkg/pipelin

[2021-02-16 15:34] #166 closed

[2021-02-16 18:06] mike4263 opened #169 "Opinionated Image Promotions"
**Is your feature request related to a problem? Please describe.**
A task which updates the image digest in Git to initiate the deployment after the pipeline job is completed

**Describe the solution you'd like**
There should be an opinionated method of updating the GitOps repo when the job is completed.

**Describe alternatives you've considered**
I've seen a variety of other options proposed in

[2021-02-18 15:13] bigkevmcd commented on #169
@mike4263 This is something that a lot of folks are working on (including this [work](https://github.com/rhd-gitops-example/services))

How would you like this to work?

`--image-digest-from-pipeline=app-ci-pipeline-run-n44p4` where does it get the image-digest from in that pipelinerun? an annotation? do you specify a result to query?

Does it open a PR? Does it apply a commit to the gitops repo d

[2021-02-22 09:56] bigkevmcd commented on #128
@iam-veeramalla can you maybe update with the results of your explorations?

[2021-02-22 09:58] bigkevmcd commented on #117
I think what we should do for this, is provide a role that would allow a user to do this, with as few permissions as possible.

[2021-02-22 09:59] bigkevmcd commented on #117
Also, we should allow you to `--skip-checks` too?

[2021-02-22 10:00] #149 closed

[2021-02-25 16:02] pbriet opened #176 "Cannot connect to Gitlab"
**Describe the bug**

Not sure if this a bug or a bad usage.
It looks like connecting to Gitlab using the token is not working correctly.

`kam bootstrap` fails with `Please enter a valid access token for --save-token-keyring: The token passed is incorrect for repository myorg/app`

**To Reproduce**
`kam bootstrap --gitops-repo-url=https://gitlab.com/myorg/gitops.git --service-repo-url=https://git

[2021-02-26 09:18] bigkevmcd commented on #176
@pbriet Hi there, sorry you're having a problem with this.

I think that error message could be improved, but the token will need API access, GitLab's "read_repository, write_repository" are _not_ for API access, they allow Git-over-HTTP access, https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#limiting-scopes-of-a-personal-access-token

The access check is performing an API chec

[2021-02-26 10:20] pbriet commented on #176
Hi, thanks for the feedback.

I will try and get back to you ASAP.

It might be a good to idea to update the following doc : https://github.com/redhat-developer/kam/blob/master/docs/journey/day1/prerequisites/gitlab_access_token_steps.md the last screenshot leads to some confusion :)
(NB : there is also a typo in the title : GitHub -> GitLab)

[2021-02-26 13:45] pbriet commented on #176
Hi,

I confirm this was the issue (thanks for the PR).
However, I now struggle with a new error :  `repo must be org/repo: /myorg/my-project-subgroup/myproject`.

I do understand the message, but why is there such a constraint on the repo structure? Is it a limitation, or is there a good reason for that?
Thanks,

[2021-02-26 14:11] bigkevmcd commented on #176
@pbriet We are working to remove this limitation, it's down to a complication between how we create repositories in the upstream (GitHub and GitLab have a slightly different way of doing this).

There is a way forward, and we'll prioritise a fix.

[2021-02-26 14:55] #176 closed

[2021-03-01 10:48] pbriet opened #178 "Service image tag update (CI->CD)"
**Describe the solution you'd like**
When I first evaluated kam, I was expecting to see a binding between CI and CD.
Instead, I found a static nginx deployment.

Would it make sense, in the default bootstrapping to :
* Create a new Task that would edit the GitOPS repo  (`environments/dev/apps/app-my-app/services/my-app/overlays/kustomization.yaml`) and set the `images:` value using `kustomize edit

[2021-03-02 14:59] #124 closed

[2021-03-03 06:30] chetan-rns opened #180 "Support creating Argo CD apps in namespace other than openshift-gitops"
**Is your feature request related to a problem? Please describe.**

Currently, Kam bootstrap creates Argo CD applications in `openshift-gitops` namespace. This would work fine because the gitops operator creates a default instance in that namespace. But the instance in `openshift-gitops` namespace also has privileged permissions for managing cluster configurations.  Kam is used for application del

[2021-03-04 20:37] #119 closed

[2021-03-08 07:13] chetan-rns opened #188 "kam doesn't display version"
**Describe the bug**
`kam version` command doesn't display the CLI version of kam

**To Reproduce**
Steps to reproduce the behavior:
1. Build the binary from master
`go build ./cmd/kam`
2. Execute `./kam version`
3. Observe the version not displayed

**Expected behavior**
Executing `kam version` should print the release version of Kam

Example
`kam version v0.0.13-0-gbfb8090`

[2021-03-08 07:13] chetan-rns commented on #188
/kind bug

[2021-03-08 07:25] chetan-rns opened #189 "kam CLI commands should have examples"
### Is your task related to a problem? Please describe.
Currently, Kam CLI commands don't display any examples for the user.

Eg:
[code]

[code]

### Describe the solution you'd like
Every kam command should have examples covering the basic features offered by the CLI. This would improve the UX and also help users to understand the functionality offered by each command.

[2021-03-08 13:44] wtam2018 commented on #178
@pbriet  thanks for your suggestion.  It seems to make sense.

[2021-03-08 14:55] wtam2018 commented on #188
Do `make bin` which creates a binary in `bin`.   Or you can do `make install` which creates a binary in `$GOPATH/bin/kam`

[2021-03-09 12:57] chetan-rns commented on #188
@wtam2018 Should we default the version to a hardcoded value if the flags are not passed? This would make the command work with plain `go build`

[2021-03-09 19:01] wtam2018 commented on #188
@chetan-rns I wouldn't bother to hard code anything in case `kam` is  compiled with plain `go build`.

[2021-03-12 09:55] #138 closed

[2021-03-16 22:46] keithchong opened #193 "When adding a service, also generate the config files"
**Is your feature request related to a problem? Please describe.**
In Day 2 operations, after adding a service, you have to add the additional files manually.
100-deployment.yaml
200-service.yaml
(also possibly, 300-route.yaml)

**Describe the solution you'd like**
Generate the files automatically.  Currently, you have to copy and paste. This should improve the user experience in that the newly de

[2021-03-25 08:46] amitkrout commented on #162
Fixed via - #171

/close

[2021-03-25 08:46] #162 closed

[2021-03-25 09:17] amitkrout opened #207 "gitops repo is created even after bootstrap command fails"
**Describe the bug**
A clear and concise description of what the bug is.

gitops repo is created even after bootstrap command fails.

**To Reproduce**
Steps to reproduce the behavior:
1. $ kam bootstrap --service-repo-url https://github.com/amitkrout/taxi **--gitops-repo-url https://github.com/amitkrout/gitops.git** --image-repo quay.io/amitkrout/taxi --dockercfgjson amitkrout-robot-auth.json  --g

[2021-03-26 01:46] jduimovich opened #209 "Kam on windows uses \ (backslash) in the paths"
**Describe the bug**
When you run kam bootstrap or add service, it will place relative paths for the argocd directories.
These paths have "\" when generated on windows which fails when deployed to argocd

Argocd error is that the path is not found.
![image](https://user-images.githubusercontent.com/7844190/112565220-153e5100-8db3-11eb-993c-f9eeefa2f20e.png)

**To Reproduce**
Steps to reproduce the

[2021-03-26 15:36] amitkrout opened #212 "Bootstrap command fails to use existing remote origin in GitOps resources"
**Describe the bug**
A clear and concise description of what the bug is.
bootstrap command fails to use use existing remote origin in GitOps resources

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

kam bootstrap should reuse the remote origin or may be overwritten

**Screenshots**
If applicable, add s

[2021-03-26 15:38] amitkrout commented on #212
/kind bug

[2021-03-26 15:38] amitkrout commented on #209
/kind bug

[2021-03-26 15:39] amitkrout commented on #207
/kind bug

[2021-04-07 01:03] #188 closed

[2021-04-16 03:07] wtam2018 commented on #212
The output folder is not clean and it contains the left over .git folder.  The is the reason the command fails   It is more an user error. .  The error message provides the info about why the command fails, right?

[2021-04-16 03:09] wtam2018 commented on #207
@amitkrout You executed the same bootstrap command twice, right?   Did the first command successfully run?

[2021-04-16 04:18] wtam2018 commented on #212
If there is an existing .git folder, we can't guarantee "push-to-git" will work.   Who knows what git operations have been done before?

[2021-04-23 14:54] hollisc opened #226 "Relax ArgoCD dependency for kam bootstrap"
Request: Relax the ArgoCD dependency check when running `kam bootstrap` so users are not forced to install `openshift-gitops` operator if ArgoCD CRDs are already installed on the cluster.

Currently, running `kam bootstrap` on a cluster without the `openshift-gitops` operator will fail the dependency check.

 ✗  Checking if ArgoCD is installed with the default configuration [1s] [Please install Op

[2021-04-23 15:31] csantanapr commented on #226
it would be great to relax the check and instead for operator just check on the required CRDs to be present.

This will allow for more adoption in open source an contributions.

[2021-04-23 15:37] csantanapr commented on #226
The check is done in this function here
https://github.com/redhat-developer/kam/blob/master/pkg/cmd/utility/utility.go#L93

[2021-04-26 04:23] chetan-rns commented on #226
Thanks for adding this issue. Currently, Kam is tightly coupled with OpenShift GitOps and Pipelines operators. I agree it should be smart enough to look only for CRDs.

[2021-04-26 20:04] #212 closed

[2021-04-27 00:47] keithchong commented on #226
A similar issue was brought up regarding the dependency on the sealed secrets operator. By specifying the --insecure option, it effectively disables the check for that operator. We should revisit the idea of having kam dependent on operators. Kam is also dependent on the pipelines operator.

[2021-04-30 07:02] amitkrout commented on #127
https://github.com/redhat-developer/kam/pull/229#issuecomment-829883673
/close

[2021-04-30 07:02] #127 closed

[2021-05-10 21:48] hollisc opened #238 "Provide support for a custom gitops repository structure"
The `kam bootstrap` CLI generates a default gitops repository.  Are there any plans to provide support for a custom gitops repository structure?

[2021-05-10 21:58] csantanapr commented on #238
It would be good to have a flag that points to a git URL or folder as a location as a seed template
For example:
`kam bootstrap --gitops-template`

gitops-template takes an uri `file://$HOME/.kam/templates/acme` or `https://user:pass@github.acme.com/acmeorg/gitops-template`

[2021-05-13 13:56] keithchong commented on #209
Check also the kustomization.yaml file in /environments/dev/apps/app-haproxy/base. The backslashes should be forward slashes

[2021-05-18 20:21] awisniew90 opened #243 "Generated event listener route using targetPort 8080 instead of http-listener label"
**Describe the bug**
The gitops-webhook-event-listener-route that is bootstrapped is using a targetPort value of 8080 which isnt corrently hitting the event listener pod on port 8000. This is causing the git webhook to fail with an HTTP 503.

**To Reproduce**
Steps to reproduce the behavior:
(Following these instructions: https://github.com/redhat-developer/kam/tree/master/docs/journey/day1)
1. Ru

[2021-05-19 10:42] chetan-rns commented on #243
@awisniew90 I think this got fixed in PR https://github.com/redhat-developer/kam/pull/233 and should be available in kam v0.0.32

[2021-05-20 14:05] awisniew90 commented on #243
Verified that v0.0.32 is using the correct port 8000 now. Any reason why the port value is still hard coded rather than using the http-listener label?

[2021-05-23 09:49] haf-tech opened #246 "Define target namespace separately"
**Is your feature request related to a problem? Please describe.**
in the current environment and project setting, any team will receive an own cicd namespace holding project specific CI/CD pipeline definition. The namespace has a dedicated name, let's say `prj-common-cicd`
The `kam bootstrap` command generates files for predefined namespaces, like `cicd`. It is possible to set a `--prefix`, this

[2021-05-24 04:41] chetan-rns commented on #243
@awisniew90 I agree, the route should have the port name instead of the hardcoded number

[code]

[2021-05-25 10:51] amitkrout commented on #132
Done through jira task
/close

[2021-05-25 10:51] #132 closed

[2021-05-25 10:53] amitkrout commented on #121
Done via - https://github.com/redhat-developer/kam/pull/237

[2021-05-25 10:53] amitkrout commented on #121
/close

[2021-05-25 10:53] #121 closed

[2021-05-25 16:49] keithchong commented on #209
Hi @jduimovich , at your earliest convenience, could you please verify that the fix resolves the problem you are seeing?  Thanks in advance.  We'd like to close this issue/story out.

[2021-05-25 17:45] jduimovich commented on #209
In the CI generated stuff (secrets and bindings), there were backslashes

g:\Dev\kamo\asp-gitops>git diff HEAD..HEAD~1
diff --git a/config/cicd/base/kustomization.yaml b/config/cicd/base/kustomization.yaml
index 74f9f5a..22fdda6 100644
--- a/config/cicd/base/kustomization.yaml
+++ b/config/cicd/base/kustomization.yaml
@@ -8,12 +8,12 @@ resources:
 - 03-secrets/docker-config.yaml
 - 03-secrets/git-

[2021-05-26 06:25] chetan-rns commented on #246
@haf-tech I agree prefix wouldn't be sufficient. IMO there should be means to update the namespace after the bootstrap as well. One option could be updating it in the manifest file and Kam will update the namespace and the structure accordingly. I suppose `kam build` cmd was introduced for this purpose which is not ready yet.

[2021-05-26 06:27] chetan-rns commented on #243
Closed by #247

[2021-05-26 06:27] chetan-rns commented on #243
Closed by #247

[2021-05-26 06:27] #243 closed

[2021-05-26 12:55] #209 closed

[2021-06-23 14:06] tormig-softronic commented on #226
Having in mind that the sealed secrets operator has been depcrecated it is even more urgent to revisit the idea of having kam dependent on operators.

[2021-07-22 21:36] keithchong opened #262 "Improve KAM Add Service documentation regarding unencrypted secrets"
**Describe the bug**
Doc improvements, correct spelling error for 'unencrypted'

**To Reproduce**
Go to https://github.com/redhat-developer/kam/tree/master/docs/journey/day2#create-an-applicationservice-in-the-new-environment
Scroll down to the paragraph that starts with "In the CI/CD Environment, a couple of resources are added or modified."

**Expected behavior**
Improve documentation and provid

[2021-07-28 18:10] keithchong commented on #74
FWIW, I saw several errors on Windows.  One of which is:

--- FAIL: TestMakeScriptWithArgo (0.14s)
    dryrun_test.go:44: fork/exec C:\Users\Admin\temp\gnome911315027\dryrun_script.sh: %1 is not a valid Win32 application.
--- FAIL: TestMakeScriptWithoutArgo (0.09s)
    dryrun_test.go:60: fork/exec C:\Users\Admin\temp\gnome728220054\dryrun_script.sh: %1 is not a valid Win32 application.

and there

[2021-08-19 06:29] #262 closed

[2021-08-19 07:29] amitkrout opened #267 "Enable OCP 4.9 CI triggers"
Keep an eye until https://github.com/redhat-developer/gitops-operator/issues/186 is fixed, then only we can enable OCP 4.9 CI triggers

[2021-08-31 05:54] varshab1210 opened #271 "OCP Support Matrix for kam"
**Describe the bug**

There is no specific OCP support matrix for kam found in the README.md. It would be great if we add the OCP support matrix for user reference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/redhat-developer/kam/tree/master/docs/journey/day1#day-1-operations'
2. No reference for OCP support matrix found

**Expected behavior**

OCP support matri

[2021-08-31 05:55] varshab1210 commented on #271
/kind bug

[2021-08-31 05:56] varshab1210 commented on #271
ping @wtam2018

[2021-09-28 05:52] varshab1210 commented on #137
Fixed in https://github.com/redhat-developer/kam/pull/282

[2021-09-28 05:52] #137 closed

[2021-12-02 14:40] slauger opened #290 "Use rhel8/httpd-24 as base image"
**Describe the bug**
Currently kam uses `registry.access.redhat.com/rhscl/httpd-24-rhel7` as `FROM` image. This image has SSLv3, TLS1 and TLS1.1 enabled. I think this is bad practice in 2021. Our security team complained the enabled SSLv3 protocol.

On a OCP4 cluster with Tekton + ArgoCD this container is the only one which has SSLv3 enabled. Nearly all other pods have only TLS 1.2 enabled (with s

[2021-12-03 15:16] mike4263 commented on #169
This is OBE by with the Argo Image Updater

[2021-12-03 15:16] #169 closed

[2022-01-31 16:53] #193 closed

[2022-02-02 05:08] #290 closed

[2022-02-08 12:30] #267 closed

[2022-03-14 17:33] KoljaKrueckmeyer opened #300 "Day1 Operations: failed to load initial state of resource Cluster.postgresql.k8s.2ndq.io"
**Describe the bug**
Hi, I am new to GitOps/ArgoCD and I try to bring in the stuff of https://github.com/redhat-developer/kam/tree/master/docs/journey/day1 into our cluster. But after kam bootrstrap I get the following error:
failed to sync cluster [https://172.21.0.1:443](https://172.21.0.1/): failed to load initial state of resource [Cluster.postgresql.k8s.2ndq.io](http://cluster.postgresql.k8s.

[2022-03-16 06:54] chetan-rns commented on #300
Hi @KoljaKrueckmeyer, can you please share the version of the KAM CLI and OpenShift cluster? Also if you are using a private repository can you confirm the repository is registered with Argo CD.

https://argo-cd.readthedocs.io/en/latest/user-guide/private-repositories/

[2022-03-21 20:40] #164 closed

[2022-03-29 12:39] krishvoor opened #301 "Add support for ppc64le and s390x"
Opening this issue, as `make all_platforms` doesn't target building on ppc64le/s390x
https://github.com/redhat-developer/kam/blob/master/Makefile#L13

[2022-04-06 10:56] #189 closed

[2022-04-12 12:11] KoljaKrueckmeyer opened #306 "Virus reported after downloading 0.0.42"
**Describe the bug**
A virus is repoted by windows after downloading the kam cli 0.0.42

**To Reproduce**
Steps to reproduce the behavior:
1. download kam cli 0.0.42
2. See error reported by windows

**Expected behavior**
no error is reported while downloading or using the kam cli

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other co

[2022-04-12 12:26] wtam2018 commented on #306
What is your antivirus program? @KoljaKrueckmeyer

[2022-04-12 12:31] KoljaKrueckmeyer commented on #306
@wtam2018 i think my campany is using windows defender.

[2022-04-12 13:30] KoljaKrueckmeyer commented on #306
i've added a new screenshot

[2022-04-12 15:31] jduimovich commented on #306
I downloaded on two different windows machines. I used Chrome so I also send the binary to google to scan. Google reported no errors and on my Microsoft Defender which I launched like this

<img width="602" alt="image" src="https://user-images.githubusercontent.com/7844190/162997816-094ed488-91f1-4e91-8f99-decc99555be3.png">

and results look like this -- sadly the UI doesn't name the file I scann

[2022-04-12 15:57] KoljaKrueckmeyer commented on #306
Chrome and Edge both report "Virus detected" for the download of https://github.com/redhat-developer/kam/releases/download/v0.0.42/kam_windows_amd64.exe

[2022-04-12 18:15] jannfis commented on #306
Can you please share the sha256 checksum of the binary you downloaded?

[2022-04-12 18:23] jduimovich commented on #306
Hi Jann,
I'm not the original reporter but this is the what I have and how I got the values in case that helps . The tool I used is certutil which I believe is part of the  base windows install .
Note: On my machine it Chrome and Edge do not report a virus.

[code]

[2022-04-12 18:44] KoljaKrueckmeyer commented on #306
PS C:\Users\KoljaMariusKrueckmey> certutil -hashfile "C:\Program Files\oc\kam.exe"
SHA1 hash of C:\Program Files\oc\kam.exe:
b55389c17a679744baa1f3666d5db93198c82c71
CertUtil: -hashfile command completed successfully.

[2022-04-12 19:03] jannfis commented on #306
Thanks. I ran the file through virustotal.com, this is the result:

![image](https://user-images.githubusercontent.com/3942683/163034640-99a74940-5876-45eb-9c57-3d5aea54b250.png)

I would suspect a client-side issue.

[2022-04-12 19:27] jannfis commented on #306
Seems Microsoft Defender flags some files some times, some times not. There are others having similar problems, e.g. https://github.com/tarkah/grout/issues/35

The general recommendation seems to be to submit the file to Microsoft as a false positive via https://www.microsoft.com/en-us/wdsi/filesubmission

@wtam2018 @chetan-rns It may make sense to publish SHA256 checksums for the release assets,

[2022-04-14 21:26] wtam2018 opened #307 "Create checksum for release binaries"
### Is your task related to a problem? Please describe.

Currently, released binaries in GitHub do not come with checksum. Users can not verify whether the downloaded binaries are valid.
### Describe the solution you'd like

We should generate checksum for released binaries.
### Describe alternatives you've considered

### Additional context

[2022-04-22 03:26] #307 closed

[2022-06-23 04:19] chetan-rns commented on #152
Closing this issue since it's already fixed

[2022-06-23 04:19] #152 closed

[2022-06-23 18:39] JainamShah-08 opened #319 "Create a command for component"
Create a `component` command that will be the initial command for generating the new simplified directory structure

[2022-06-29 19:30] DuncanDoyle opened #320 "Support slashes (/) in GitHub branch names"
**Is your feature request related to a problem? Please describe.**
While trying out KAM, I hit an issue when using slashes (`/`) a GitHub branch name, in combination with the Tekton EventListener and Pipelines. In particular the "clone-source" task in "app-ci-pipeline" failed, due to the fact it was given the incorrect GitHub ref:

[code]

As you can see, the "ref" is set to `feat`, where my actua

[2022-09-22 17:32] jeffgus opened #324 "ci-dryrun-from-push-pipeline fails with new RedHat Pipelines update"
**Describe the bug**
After committing changes to the gitops repo, I get:
"Error running git [init /workspace/source]: exit status 1\n/workspace/source/.git: Permission denied\n"

..from ci-dryrun-from-push-pipeline task.

**To Reproduce**
Install Red Hat OpenShift Pipelines 1.7.3 via the Operator Marketplace.
Commit code to a gitops repo.
Dry run task fails with a permission error.
Other tasks con

[2022-09-22 21:57] jeffgus commented on #324
Issue fixed when version of Pipelines was upgraded to 1.8.0

[2022-09-22 21:57] #324 closed

[2022-10-14 05:57] jeffgus commented on #320
I ran into this myself. It isn't seriously impacting me... yet.
To fix it, something would have to be done at the Tekton level.